<label>{{#__}}yourname{{/__}} ({{#__}}required{{/__}})
<p class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <input class="get-value" type="text" name="username" value="" size="40" required aria-required="true">
</p>
</label>
<label>
{{#__}}youremail{{/__}} ({{#__}}required{{/__}})
<p class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <input class="get-value" type="email" name="useremail" value="" size="40" required aria-required="true">
</p>
</label>
<label>
{{#__}}phonenumber{{/__}}
<p class="input-prepend">
        <span class="add-on"><i class="icon-phone"></i></span>
        <input class="get-value" type="tel" name="userphone" size="40">
</p>
</label>
<label>
<div>{{#__}}subject{{/__}}
        <br>
        <input class="get-value" type="text" name="subject" value="" size="40">
</div>
</label>
<label>
<div>{{#__}}yourmessage{{/__}}
        <br>
        <textarea class="get-value" name="message" cols="40" rows="10"></textarea>
</div>
</label>
