<div class="row-fluid">
    <div class="img-polaroid img-polaroid-main">
        <img src="/images/960x340/6.jpg" alt="Garden Fireplace" />
    </div>
</div>
<h2 class="row-fluid">Restaurant Photos</h2>
<div class="row-fluid">
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/dining300x300/1.jpg" alt="Restaurant Tables" />
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/dining300x300/2.jpg" alt="Restaurant Fireplace"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/dining300x300/3.jpg" alt="Restaurent Table 1"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/dining300x300/4.jpg" alt="Restaurent Table 2"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/dining300x300/5.jpg" alt="Restaurant Counter and Bar"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/dining300x300/6.jpg" alt="Garden Bench with Cat on it"/>
            </div>
        </div>
         <div class="span4">
            <div class="img-polaroid">
                <img src="/images/dining300x300/7.jpg" alt="Water Mill"/>
            </div>
        </div>
         <div class="span4">
            <div class="img-polaroid">
                <img src="/images/dining300x300/8.jpg" alt="Restaurant Flowers"/>
            </div>
        </div>
         <div class="span4">
            <div class="img-polaroid">
                <img src="/images/dining300x300/9.jpg" alt="Indoor Fireplace"/>
            </div>
        </div>
</div>