<div class="row-fluid">
    <div class="img-polaroid img-polaroid-main">
        <img src="/images/960x340/11.jpg" alt="Table and Couch" />
    </div>
</div>
<h2 class="row-fluid">{{#__}}flat4photos{{/__}}</h2>
<div class="row-fluid">
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/1.jpg" alt="Single Bed and Night Lamp" />
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/2.jpg" alt="Fridge and Sink"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/3.jpg" alt="Single Bed next to the Window"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/4.jpg" alt="Sofa"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/5.jpg" alt="Single Bed Alternative View"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/6.jpg" alt="Bathroom Sink"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/7.jpg" alt="Wardrobe and TV Set"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/8.jpg" alt="Wardrobe and Bathroom Door"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/9.jpg" alt="Mirror and Night Lamp"/>
            </div>
        </div>
</div>
