<div class="row-fluid">
    <div class="img-polaroid img-polaroid-main">
        <img src="/images/960x340/14.jpg" alt="Hotel Entrance" />
    </div>
</div>
<h2 class="row-fluid">{{#__}}flat2photos{{/__}}</h2>
<div class="row-fluid">
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/2flat300x300/1.jpg" alt="2 Single Beds" />
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/2flat300x300/2.jpg" alt="Wardrobe and TV Set"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/2flat300x300/3.jpg" alt="Couch and Table"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/2flat300x300/4.jpg" alt="Mirror and Plant"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/2flat300x300/5.jpg" alt="Bathroom Mirror and Sink"/>
            </div>
        </div>
</div>
