<div class="row-fluid">
    <div class="img-polaroid img-polaroid-main">
        <img src="/images/960x340/2.jpg" alt="Hotel Entrance" />
    </div>
</div>
<section class="row-fluid">
	<h2>{{#__}}gallery{{/__}}</h2>
	<p>
{{#__}}gallerymaindesc{{/__}}
</p></section>
<div class="row-fluid">
        <a href="/{{lang}}/gallery/hotelphotos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/10.jpg" alt="Hotel Exterior" />
            </div>
            <h3 class="pagination-centered">{{#__}}exteriorinteriorphotos{{/__}}</h3>
        </a>
        <a href="/{{lang}}/gallery/flat1photos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/1flat300x300/1.jpg" alt="Flat 1"/>
            </div>
            <h3 class="pagination-centered">{{#__}}flat1photos{{/__}}</h3>
        </a>
        <a href="/{{lang}}/gallery/flat2photos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/2flat300x300/1.jpg" alt="Flat 2"/>
            </div>
            <h3 class="pagination-centered">{{#__}}flat2photos{{/__}}</h3>
        </a>
        <a href="/{{lang}}/gallery/flat3photos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/3flat300x300/1.jpg" alt="Flat 3"/>
            </div>
            <h3 class="pagination-centered">{{#__}}flat3photos{{/__}}</h3>
        </a>
        <a href="/{{lang}}/gallery/flat4photos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/1.jpg" alt="Flat 4"/>
            </div>
            <h3 class="pagination-centered">{{#__}}flat4photos{{/__}}</h3>
        </a>
        <a href="/{{lang}}/gallery/diningphotos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/dining300x300/1.jpg" alt="Dining Area"/>
            </div>
            <h3 class="pagination-centered">{{#__}}diningareaphotos{{/__}}</h3>
        </a>
</div>
