<div class="row-fluid">
    <div class="img-polaroid img-polaroid-main">
        <img src="/images/960x340/2.jpg" alt="Hotel Entrance" />
    </div>
</div>
<section class="row-fluid">
	<h2> Gallery</h2>
	<p>The Seasons Lodge Guest House is a hotel dedicated to offering you great value and quality services. With this in mind, all of our members strive to make the guest experience as individual, hospitable and affordable as possible.
Our 4 flats are clean, comfortable and good value. They all offer 4 + 1 beds, freeview television, air conditioning system, fridge, telephone and free wireless internet connection. All flats have a private bathrooms with modern shower and toilet facilities.</p>
</section>
<div class="row-fluid">
        <a href="/{{lang}}/gallery/hotelphotos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/10.jpg" alt="Hotel Exterior" />
            </div>
            <h3 class="pagination-centered">Exterior and Interior Photos</h3>
        </a>
        <a href="/{{lang}}/gallery/flat1photos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/1flat300x300/1.jpg" alt="Flat 1"/>
            </div>
            <h3 class="pagination-centered">Flat 1 Photos</h3>
        </a>
        <a href="/{{lang}}/gallery/flat2photos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/2flat300x300/1.jpg" alt="Flat 2"/>
            </div>
            <h3 class="pagination-centered">Flat 2 Photos</h3>
        </a>
        <a href="/{{lang}}/gallery/flat3photos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/3flat300x300/1.jpg" alt="Flat 3"/>
            </div>
            <h3 class="pagination-centered">Flat 3 Photos</h3>
        </a>
        <a href="/{{lang}}/gallery/flat4photos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/4flat300x300/1.jpg" alt="Flat 4"/>
            </div>
            <h3 class="pagination-centered">Flat 4 Photos</h3>
        </a>
        <a href="/{{lang}}/gallery/diningphotos" class="span4 js-nav">
            <div class="img-polaroid">
                <img src="/images/dining300x300/1.jpg" alt="Dining Area"/>
            </div>
            <h3 class="pagination-centered">Dining Area Photos</h3>
        </a>
</div>