<header>
	<input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
	<nav id="main-nav" class="{{currentpage}}">
	    <ul>
	        <li><a class="js-nav" href="/{{lang}}/">{{#__}}Home{{/__}}</a>
	        <li><a class="js-nav" href="/{{lang}}/booking">{{#__}}Booking{{/__}}</a>
	        <li><a class="js-nav" href="/{{lang}}/gallery">{{#__}}Gallery{{/__}}</a>
	        <li><a class="js-nav" href="/{{lang}}/rates">{{#__}}Rates{{/__}}</a>
	        <li><a class="js-nav" href="/{{lang}}/location">{{#__}}Location{{/__}}</a>
	        <li><a class="js-nav" href="/{{lang}}/contact">{{#__}}Contact{{/__}}</a>
	        <li class="nav-dropdown"><a href="#lang-menu">{{#__}}Language{{/__}}</a>
	    </ul>
	    <label for="navbar-checkbox" class="navbar-handle"></label>
	</nav>
	<h1>{{#__}}headerh1{{/__}}</h1>
</header>