<div class="row-fluid">
    <div class="img-polaroid img-polaroid-main">
        <img src="/images/960x340/1.jpg" alt="Hotel Entrance" />
    </div>
</div>
<div class="row-fluid">
    The Seasons Lodge Guest House is one of the finest three stars hotels on the east coast of Bulgaria.
    Situated on the edge of Albena this superb hotel is located in the old fishing village of Golden Fish, and is only a stone throw away from the beach.
    Being a privately owned and family run hotel allows us to make sure our residents and guests are treated the way we would like to be treated ourselves. 
    We want you to sit back and relax. Indulge yourself with our facilities, and enjoy the warmth and hospitality offered to you at our hotel.
    We will try our very best to make sure your stay is an enjoyable one and we look forward to welcoming you back.
</div>
<div class="row-fluid">
    <section class="span4">
        <a class="js-nav" href="/{{lang}}/booking">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/11.jpg" alt="Booking Calendar" />
            </div>
            <h3 class="pagination-centered">Booking</h3>
        </a>
        <p>and embark on your most memorable Albena Vacation ever.
            Seasons Lodge Guest House is a 3 star rated Bed and Breakfast family run hotel for people who want a restful and relaxing beachfront vacation at a very affordable price.We enjoy what we are doing. 
            We value our customers and we try to ensure that they will return.
            <a class="js-nav" href="/{{lang}}/booking">... read more</a>
        </p>
    </section>
    <section class="span4">
        <a class="js-nav" href="/{{lang}}/gallery">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/3.jpg" alt="Hotel Gallery" />
            </div>
            <h3 class="pagination-centered">Gallery</h3>
        </a>
        <p>Our 4 Appartments, decorated in a truly elegant Bulgarian style, offer a wonderful view of the Black sea. Due to the unique nature of House Season guest house each apartment has a personality of its own and no two apartments are alike. 
            Each individually designed apartment has been created with an emphasis on supreme comfort and relaxation
            <a class="js-nav" href="/{{lang}}/gallery">... read more</a>
        </p>
    </section>
    <section class="span4">
        <a class="js-nav" href="/{{lang}}/rates">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/13.jpg" alt="Rates and Prices"/>
            </div>
            <h3 class="pagination-centered">Rates</h3>
        </a>
        <p>Season Lodge Guest House has always prided itself on being a clean and comfortable hotel on the edge of Albena Resort that is high on quality, but not high on price.
            Upon booking you may request refreshments / buffets and indicate your preferred room layout. All requests will be met where possible and rooms set-up before your arrival to ensure you make the most of your booking time.
            <a class="js-nav" href="/{{lang}}/rates">... read more</a>
        </p>
    </section>
    <section class="span4">
        <a class="js-nav" href="/{{lang}}/location">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/12.jpg" alt="Hotel Location"/>
            </div>
            <h3 class="pagination-centered">Location</h3>
        </a>
        <p>Set on a secluded private estate at the foot of a chain of lush green hills and overlooking a pristine white sand beach, our location is ideal for those who simply want to chill out while renewing body and mind.
            We are located within 10 minutes walking distance from the beach on the north edge of Albena Resort, in the lovely Golden Fish Area six miles from the historic and ancient City of Balchik.
            <a class="js-nav" href="/{{lang}}/location">... read more</a>
        </p>
    </section>
    <section class="span4">
        <a class="js-nav" href="/{{lang}}/location">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/14.jpg" alt="Hotel Blog"/>
            </div>
            <h3 class="pagination-centered">Blog</h3>
        </a>
        <p>Set on a secluded private estate at the foot of a chain of lush green hills and overlooking a pristine white sand beach, our location is ideal for those who simply want to chill out while renewing body and mind.
            We are located within 10 minutes walking distance from the beach on the north edge of Albena Resort, in the lovely Golden Fish Area six miles from the historic and ancient City of Balchik.
            <a class="js-nav" href="/{{lang}}/location">... read more</a>
        </p>
    </section>
    <section class="span4">
        <a class="js-nav" href="/{{lang}}/contact">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/15.jpg" alt="Contact Us"/>
            </div>
            <h3 class="pagination-centered">Contact</h3>
        </a>
        <p>Are you looking for a nice and affordable hotel in Bulgaria? To make a booking, an appointment to view the centre or for any other query, contact us.
            We welcome you to the Seasons Lodge Guest House, a family-run, friendly bed and breakfast hotel on the edge of Albena.
            We enjoy what we are doing. We value our customers and we try to ensure that they will return.
            <a class="js-nav" href="/{{lang}}/contact">... read more</a>
        </p>
    </section>
</div>