<div class="row-fluid">
    <div class="img-polaroid img-polaroid-main">
        <img src="/images/960x340/4.jpg" alt="Hotel Entrance" />
    </div>
</div>
<h2 class="row-fluid">{{#__}}exteriorinteriorphotos{{/__}}</h2>
<div class="row-fluid">
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/1.jpg" alt="Standalone Flat close view" />
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/2.jpg" alt="Standalone Flat distant view"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/3.jpg" alt="Street view left side"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/4.jpg" alt="Street view right side"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/5.jpg" alt="Inner stairs"/>
            </div>
        </div>
        <div class="span4">
            <div class="img-polaroid">
                <img src="/images/hotel300x300/6.jpg" alt="Standalone Flat staircase"/>
            </div>
        </div>
</div>
