<!DOCTYPE html>
<html class="no-js" lang="{{lang}}">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="">
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <title>{{title}}</title>
        {{#cssList}}
        <link href="/css/{{.}}.css" rel="stylesheet" type="text/css">
        {{/cssList}}
        <script src="/../js/libs/jquery-2.1.1.min.js"></script>
    </head>
    <body>
        {{> lang}}
    	<div id="content">
            {{> header}}
            <div id="yield">
                {{{ yield }}}
            </div>
            {{> footer}}
        </div>
        <script src="/../js/{{pathmin}}main{{filemin}}.js"></script>
        </div>
    </body>
</html>
