<div class="row-fluid">
    <div class="img-polaroid img-polaroid-main">
        <img src="/images/960x340/15.jpg" alt="Garden Flower Pot"/>
    </div>
</div>
<section class="row-fluid" itemscope itemtype="http://schema.org/Hotel">
    <div itemprop="location">
        <meta itemprop="name" content="Seasons Guest House Lodge"/>
        <h2>{{#__}}location{{/__}}</h2>
        <p itemprop="description">
            {{#__}}homelocation{{/__}}{{#__}}locationtmaindesc{{/__}}
        </p>
        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <div id="map-canvas" itemprop="maps" data-pin-label="<div class='map-info-window'>{{#__}}headerh1{{/__}}</div>">
                <noscript>
                    <img src="/images/map/Albena-Fish-Fish-Bird-View-Map-Pin.png" alt="Bird's eye Albena map"/>
                </noscript>
            </div>
            <meta itemprop="latitude" content="43.382995" />
            <meta itemprop="longitude" content="28.098228" />
            <button class="btn btn-primary" type="button" id="route-btn" data-states='["{{#__}}suggestaroute{{/__}}", "{{#__}}returntotheoriginalmap{{/__}}"]'>{{#__}}suggestaroute{{/__}}</button>
            <div id="map-directions"></div>
        </div>
    </div>
</section>
<script src="/../js/{{pathmin}}g-map{{filemin}}.js"></script>
