<div class="row-fluid">
    <div class="img-polaroid img-polaroid-main">
        <img src="/images/960x340/10.jpg" alt="Hotel Entrance" />
    </div>
</div>
<section class="row-fluid">
    <h2><span class="capitalise">{{#__}}rates{{/__}}</span> <span class="capitalise">and</span> <span class="capitalise">{{#__}}prices{{/__}}</span></h2>
    <p>{{#__}}ratesmaindesc{{/__}</p>
</section>
<div class="row-fluid">
    <table class="rwd-table ratestbl">
        <thead>
            <tr>
                <th colspan="4">{{#__}}ratesonebedroomflatth{{/__}}*</th>
            </tr>
            <tr>
                <th>{{#__}}ratestblth1{{/__}}</th>
                <th>{{#__}}ratestblth2{{/__}}</th>
                <th>{{#__}}ratestblth3{{/__}}</th>
                <th>{{#__}}ratestblth4{{/__}}</th>
            </tr>
        </thead>
        <tbody class="capitalise">
            <tr>
                <td data-th="{{#__}}ratestblth1{{/__}}">2</td>
                <td data-th="{{#__}}ratestblth2{{/__}}">{{#__}}flexible{{/__}}</td>
                <td data-th="{{#__}}ratestblth3{{/__}}">20 {{#__}}euros{{/__}}</td>
                <td data-th="{{#__}}ratestblth4{{/__}}">23 {{#__}}euros{{/__}}</td>
            </tr>
            <tr>
                <td data-th="{{#__}}ratestblth1{{/__}}">3</td>
                <td data-th="{{#__}}ratestblth2{{/__}}">{{#__}}flexible{{/__}}</td>
                <td data-th="{{#__}}ratestblth3{{/__}}">25 {{#__}}euros{{/__}}</td>
                <td data-th="{{#__}}ratestblth4{{/__}}">30 {{#__}}euros{{/__}}</td>
            </tr>
            <tr>
                <td data-th="{{#__}}ratestblth1{{/__}}">4</td>
                <td data-th="{{#__}}ratestblth2{{/__}}">{{#__}}flexible{{/__}}</td>
                <td data-th="{{#__}}ratestblth3{{/__}}">30 {{#__}}euros{{/__}}</td>
                <td data-th="{{#__}}ratestblth4{{/__}}">38 {{#__}}euros{{/__}}</td>
            </tr>
        </tbody>
    </table>
    <table class="rwd-table ratestbl">
        <thead>
            <tr>
                <th colspan="4">{{#__}}ratesstandaloneflatth{{/__}}**</th>
            </tr>
            <tr>
                <th>{{#__}}ratestblth1{{/__}}</th>
                <th>{{#__}}ratestblth2{{/__}}</th>
                <th>{{#__}}ratestblth3{{/__}}</th>
                <th>{{#__}}ratestblth4{{/__}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-th="{{#__}}ratestblth1{{/__}}">{{#__}}upto{{/__}} 4</td>
                <td class="capitalise" data-th="{{#__}}ratestblth2{{/__}}">{{#__}}flexible{{/__}}</td>
                <td class="capitalise" data-th="{{#__}}ratestblth3{{/__}}">30 {{#__}}euros{{/__}} </td>
                <td class="capitalise" data-th="{{#__}}ratestblth4{{/__}}">38 {{#__}}euros{{/__}}</td>
            </tr>
        </tbody>
    </table>
    <p>
        {{#__}}ratesextrainfo{{/__}}
    </p>
</div>
