<div class="row-fluid">
    <div class="img-polaroid img-polaroid-main">
        <img src="/images/960x340/7.jpg" alt="Garden Flower Pot"/>
    </div>
</div>
<section class="row-fluid">
    	<h2>{{#__}}services{{/__}}</h2>
	<dl class="dl-horizontal">
	      <dt>{{#__}}beachumbrellaandchairsetrentals{{/__}}</dt>
	      <dd>{{#__}}beachumbrellaandchairdesc{{/__}}</dd>
	      <dt>{{#__}}pickupservices{{/__}}</dt>
	      <dd>{{#__}}pickupservicesdesc{{/__}}</dd>
	      <dt>{{#__}}food&beverages{{/__}}</dt>
	      <dd>{{#__}}food&beveragesdesc{{/__}}</dd>
    	</dl>
</section>
