@font-face {
    font-family: slim;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
nav {
	width:100%;
	position: relative;
	border-top: 10px solid #0088cc;
}

nav ul {
	/*font-size: 120%;*/
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	position: relative;
	cursor: pointer;
	list-style: none;
}

h3,
header {
	font-family: slim,sans-serif;
	text-transform: uppercase;
	text-align: center;
}

h1 {
	color: #0088cc;
	font-size: 200%;
	line-height: 1.2;
}

a {
	color: #0088cc;
	text-decoration: none;
}

nav li a {
	color: grey;
	display: block;
	padding: 3ex 1em 1ex;
}

nav.home li:nth-child(1),
nav.booking li:nth-child(2),
nav.gallery li:nth-child(3),
nav.rates li:nth-child(4),
nav.location li:nth-child(5),
nav.contact li:nth-child(6) {
	background: #0088cc;
}

nav.home li:not(:nth-child(1)) a:hover,
nav.booking li:not(:nth-child(2)) a:hover,
nav.gallery li:not(:nth-child(3)) a:hover,
nav.rates li:not(:nth-child(4)) a:hover,
nav.location li:not(:nth-child(5)) a:hover,
nav.contact li:not(:nth-child(6)) a:hover {
	background: #e7e5e3;
}

nav.home li:nth-child(1) a,
nav.booking li:nth-child(2) a,
nav.gallery li:nth-child(3) a,
nav.rates li:nth-child(4) a,
nav.location li:nth-child(5) a,
nav.contact li:nth-child(6) a {
	color: white;
}

@media (max-width: 650px) {

	h1 {
		margin-top: 4ex;
	}

 	nav ul {
	    	height: 0;
	    	overflow: hidden;
  	}

  	nav li {
    		visibility: hidden;
    		display: block;
    		background: #0088cc;
    		border-bottom: 1px solid white;
  	}

  	nav .navbar-handle {
    		display: block;
  	}

  	#navbar-checkbox:checked + nav {
  		border-top-width: 0;
  	}
  
  	#navbar-checkbox:checked + nav > ul {
    		height: 46ex;
  	}

  	#navbar-checkbox:checked + nav li {
    		visibility: visible;
  	}
	
	#navbar-checkbox:checked + nav .navbar-handle,
	#navbar-checkbox:checked + nav .navbar-handle:after,
	#navbar-checkbox:checked + nav .navbar-handle:before {
	    	border-color: #aaa;
	}

	nav.home ul li a {
		color: white;
	}

	nav.home ul li a:hover {
		color: #0088cc;
	}
}

.navbar-checkbox {
  	display: none;
}

.navbar-handle {
	display: none;
	cursor: pointer;
	position: absolute;
	right: 0;
	margin: 1.5ex 1em;
	padding: .5em 0;
	width: 2em;
	height: 1ex;
  	background: linear-gradient(to bottom,
  		#0088cc, #0088cc 20%, 
		white 20%, white 40%, 
		#0088cc 40%, #0088cc 60%, 
		white 60%, white 80%, 
		#0088cc 80%, #0088cc 100%
 	);
}

footer,
#yield {
	max-width: 970px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.span4 {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 33%;
}

.span4 p {
	padding: 1ex 1em;
}

footer,
.row-fluid {
	margin-bottom: 2ex;
}

h2.row-fluid {
	margin-top: 3ex;
}

@media (max-width: 978px) {
	.row-fluid .span4 {
		width: 49%;
	}
}

@media (max-width: 767px) {
	.row-fluid .span4 {
		width: 100%;
	}
}

.img-polaroid {
	display: block;
	max-width: 270px;
	margin: 2ex auto;
	overflow: hidden;
	border: 5px solid white;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.img-polaroid.img-polaroid-main {
	margin: 0 auto 2ex;
	max-width: 780px;
}

.img-polaroid.img-polaroid-main img {
	max-width: 780px;
	width: 100%;
}

.img-polaroid:hover img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

.img-polaroid img {
	height: auto;
	max-width: 100%;
}

.img-polaroid img,
nav ul {
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}

h3 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	color: #0088cc;
	text-rendering: optimizelegibility;
	text-decoration: none;
	text-align: center;
}

#lang-menu:target {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(1,1,1,0.4);
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#lang-menu {
	display: none;
}

#lang-menu:target ~ #content {
	overflow: hidden;
}

#lang-menu:target ~ #content,
#lang-menu > ul:before {
	height: 100%;
}

#lang-menu > ul {
	padding: 0;
	display: block;
	list-style: none;
	text-align: center;
	width: 200px;
}

#lang-menu > ul > li {
	position: relative;
	width: 100%;
}

#lang-menu > ul li > a:hover {
	background: #e7e5e3;
	color: #0088cc;
}

#lang-menu > ul > li > div {
	background: #0088cc;
	color: white;
}

#lang-menu > ul li > * {
	text-decoration: none;
	width: 100%;
	display: block;
	background: white;
	color: #333333;
	padding-top: 3ex;
	padding-bottom: 1ex;
}

.lang:before,
.lang {
	text-align: center;
	display: inline-block;
	position: relative;
}

.lang.bg:before {
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjYwMCIgdmlld0JveD0iMCAwIDUgMyI+DQo8cGF0aCBmaWxsPSIjZmZmIiBkPSJtMCwwaDV2M2gtNXoiLz4NCjxwYXRoIGZpbGw9IiMwMDk2NmUiIGQ9Im0wLDFoNXYyaC01eiIvPg0KPHBhdGggZmlsbD0iI2Q2MjYxMiIgZD0ibTAsMmg1djFoLTV6Ii8+DQo8L3N2Zz4NCg==) center top no-repeat;
	background-size: 2em 2ex;
}

.lang.en:before {
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K)  center top no-repeat;
	background-size: 2em 2ex;
}

.lang:before {
	content: "";
	width: 2em;
	height: 2ex;
	margin: 0 0.2em;
}